<div class="container">
  <div class="user-profile">
    <div class="row box">
      <div class="col-lg-4">
        <div class="row">
          <!-- ユーザーイメージ -->
          <div class="user-image col-sm-12 col-md-12">
            <div class="name-head">
              <h4 class="user-name">
                <%= @user.name %>
              </h4>
            </div>
            <div class="user-prof-img">
              <div class="img-body">
                <% if @user.img? %>
                  <%= image_tag @user.img_url(:thumb), :class => "user-show-img" %>
                <% else %>
                  <%= image_tag("/assets/user-img.png", :class => "prof_icon" ,:size => "200x200",:alt => "プロフ画像") %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- ユーザー詳細 -->
          <div class="user-info col-sm-12 col-md-12 ">
            <div class="user-name">
              <p></p>
              <label>性別</label>
              <%= @user.gender %>
            </div>
            <div class="user-age">
              <p></p>
              <label>年齢</label>
              <%= @user.age %>
            </div>
            <div class="user-myself">
              <p></p>
              <label>自己紹介</label>
              <%= @user.introduction %>
            </div>
            <% if @user == current_user %>
              <%= link_to '編集する', edit_user_registration_path(@user) %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- 全投稿 -->
      <div class="user-post-square col-sm-12 col-md-12 col-lg-8">
        <!-- <div class="row"> -->
          <h4 class="user-post-title">
            全投稿
          </h4>
          <div class="user-post-all">
            <% @posts.each do |post| %>
              <div class="post-square">
                <div class="post-img-body">
                  <%= image_tag post.img.url, :class => "square-img" if post.img? %>
                </div>
                <div class="post-inner">
                  <h3 class="inner-title">
                    <%= link_to post.title, post_path(post), class: "title" %>
                  </h3>
                  <p class="inner-text">
                    <%= truncate(post.text, length: 30)%>
                  </p>
                  <ul class="date-fact">
                    <li>
                      <i class="icon"><%= fa_icon 'calendar', class: "fa-calendar" %></i>
                      <time class="post-time"><%= post.created_at.to_s(:datetime_base) %></time>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
      </div>
      <!-- ここまで -->
    </div>
  </div>
</div>
