
<h1>投稿一覧</h1>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="card card-border col-sm-6 col-md-6 col-lg-3">
      <div class="card-head">
        <%= image_tag post.img.url if post.img? %>
      </div>
      <div class="card-body">
        <div class="inner">
        <h5 class="card-title "><%= post.title %></h5>
        <p class="card-text">
          <%= truncate(post.text, length: 30) %>
        </p>
        <ul class="date-fact">
          <li>
            <i class="icon"><%= fa_icon 'calendar', class: "fa-calendar" %></i>
            <time class="post-time"><%= post.created_at.to_s(:datetime_base) %></time>
          </li>
        </ul>
        <p class="card-user user-name">user</p>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>
