    <h2 class="top-font">
      アドバイスを貰おう
      <%= link_to "依頼投稿", new_post_path, class: "top-new" %>
    </h2>
  <div class="container">
    <div class="row box">
      <% @posts.each do |post| %>
        <div class="post-index-box post-border col-sm-6 col-md-6 col-lg-4">
          <%= link_to post_path(post) do %>
          <div class="post-index-body">
            <div class="post-index-head">
            <% if post.img? %>
              <%= image_tag post.img_url(:thumbnail), :cloud_name => "dbqorazem" ,:class => "index-img" if post.img? %>
            <% else %>
              <%= image_tag("/assets/user-img.png", :class => "index_post_img" ,:alt => "依頼画像") %>
            <% end %>
            </div>
            <hr/>
            <div class="inner">
              <h3 class="post-index-title post-name">
                <%= post.title %>
              </h3>
              <p class="post-index-text">
                <%= truncate(post.text, length: 30) %>
              </p>
              <ul class="date-fact">
                <li>
                  <i class="icon"><%= fa_icon 'calendar', class: "fa-calendar" %></i>
                  <time class="post-time"><%= post.created_at.to_s(:datetime_base) %></time>
                </li>
              </ul>
            <% end %>
            <p class="post-index-user user-name">
              <%= post.user.name %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
