<div class="main">
<div class="container">
  <div class="row img">
    <div class="show-img">
      <%= image_tag @post.img.url, :size => "500x350" if @post.img? %>
    </div>
  </div>
    <div class="row">
      <div class="card card-top col-12">
        <div class="card-body">
          <div class="show-inner">
            <h5 class="show-title">
              <%= @post.title %>
            </h5>
            <p class="show-text">
              <%= @post.text %>
            </p>
            <div class="show-date">
              <ul class="date-fact">
                <li>
                  <i class="icon"><%= fa_icon 'calendar', class: "fa-calendar" %></i>
                  <time class="post-time"><%= @post.created_at.to_s(:datetime_base) %></time>
                </li>
              </ul>
            </div>
            <div class="show-user">
              <p>user</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5>コメント一覧</h5>
    <% @post.comments.each do |comment| %>
    <div class="card post-com">
      <div class="card-body com-body">
        <p>
          <strong>コメント</strong>
          <%= comment.content %>
        </p>
      </div>
    </div>

    <% end %>
    <div class="row">
      <h5>コメントをする</h5>
      <%= form_with(model: [@post, @post.comments.build],
      local: true) do |f| %>
        <div class="card-body">
          <%= f.text_area :content, placeholder: "コメントをする" %>
        </div>
        <div class="actions">
          <%= f.submit "コメント" %>
        </div>
      <% end %>
    </div>
</div>
</div>
<%= link_to '編集', edit_post_path %>
