
<div class="main">
  <div class="container mg">
    <div class="row">
      <!-- cardここから　-->
      <div class="card card-center col-sm-12 col-md-10 col-lg-6">
        <div class="card-top">
          <ul class="header">
            <li class="header-left">
              <h5>
              <%= @post.user.name %>
              </h5>
            </li>
            <li class="header-right">
              <h4>
              <%= @post.title %>
              </h4>
            </li>
          </ul>
        </div>
        <hr />
        <div class="card-body">
          <div class="card-img">
            <%= image_tag @post.img.url, :class => "main-img" if @post.img? %>
          </div>
          <hr />
          <h6>依頼内容</h6>
          <hr />
          <div class="show-inner">
            <div class="card-text">
              <%= @post.text %>
            </div>
            <div class="show-date">
              <ul class="date-fact">
                <li>
                  <i class="icon">
                    <%= fa_icon 'calendar', class: "fa-calendar"%>
                  </i>
                  <time class="post-time">
                    <%= @post.created_at.to_s(:datetime_base)%>
                  </time>
                </li>
              </ul>
            </div>
            <div class="sign_in">
            <% if user_signed_in? && @post.user_id == current_user.id %>
              <%= link_to '編集', edit_post_path%>
              <%= link_to '削除', post_path(@post), method: :delete,
              data: {confirm: "本当にいいですか"} %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- cardここまで -->
      <div class="comment-body col-sm-12 col-lg-6">
        <div class="comment-index">
          <h6 class="card-header card-comment font-center">コメント</h6>
          <%= render 'comments/comment' %>
        </div>
        <hr />

        <div class="comment-form">
          <p class="com-advise font-center">アドバイスを送ってみましょう</p>
          <%= render 'comments/form' %>
        </div>
      </div>

    </div>
  </div>
</div>
