
<div class="main">
  <div class="container mg">
    <div class="row">
      <div class="card card-center col-sm-12 col-md-12 col-lg-8">

        <div class="card-top">
          <ul class="header">
            <li class="header-left">
              name
            </li>
            <li class="header-right">
              <%= @post.title %>
            </li>
          </ul>
        </div>
        <hr />

        <div class="card-body">
          <img class="card-img-top" <%= image_tag @post.img.url, :size => "500x370" if @post.img? %>

          <hr />
          <h6>依頼内容</h6>
          <hr />
          <div class="show-inner">
            <div class="card-text">
              <%= @post.text %>
            </div>
            <div class="show-date">
              <ul class="date-fact">
                <li>
                  <i class="icon">
                    <%= fa_icon 'calendar', class: "fa-calendar"%>
                  </i>
                  <time class="post-time">
                    <%= @post.created_at.to_s(:datetime_base)%>
                  </time>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <%= link_to 'メッセージを送る', '#', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
